body                           { background: #fff url('../images/bg.png') repeat-x; font-family: "Myriad Pro", serif; font-size: 1.3em; line-height: 1.3em; margin: 0 auto; }
a                              { color: #666; text-decoration: none; }
a:hover                        { text-decoration: underline; }

#main                          { margin: 0 auto; position:relative; width: 1000px; margin-top: 20px; }

#header                        { padding: 15px; width: 800px; margin: 0 auto; margin-top: 10px; margin-bottom: -60px; text-align: center; }

#content                       { float:left; width: 800px; background-color: #f5f5f5; padding: 14px; border: solid 1px #ccc; min-height: 200px; }

#sidebar                       { float: left; margin-top: 4px; width: 120px; background-color: #e1e1e1; border-top-right-radius: 4px; border-bottom-right-radius: 4px; padding: 10px 10px 10px 0; font-size: 0.6em; }
.black_button                  { background-color: #ccc; color: #000; text-transform: uppercase; font-weight: bold; padding: 6px 10px 4px 10px; }
.black_button:hover            { background-color: #555; color: #eaeaea }

pre                            { margin: 20px; }
p                              { margin: 10px 0; }
#content ul, #content ol       { list-style: square inside; }
