<!DOCTYPE html>
<html>
  <head>
    <title>BigTuna : {{ page.title }}</title>
    <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/master.css" media="screen" rel="stylesheet" type="text/css" />
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <meta content='keywords' name='ci, continuous integration, testing, vcs, git, svn, ruby, ruby on rails, ror, ror3, delayed job'>
    <meta content='description' name='Continuous Integration software written on top of Ruby on Rails 3 and Delayed Job.'>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-414968-13']);
      _gaq.push(['_setDomainName', '.appelier.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id='main'>
      <div id='content'>
        <h1><b>BigTuna</b> ain't small fish.</h1>

        {{ content }}
      </div>
      <ol id='sidebar'>
        <li><a href="/" class="black_button">Home</a></li>
        <li><a href="/installation.html" class="black_button">Installation</a></li>
        <li><a href="/configuration.html" class="black_button">Configuration</a></li>
        <li><a href="/extending.html" class="black_button">Extending</a></li>
        <li><a href="/about.html" class="black_button">About</a></li>
        <li><a href="https://github.com/appelier/bigtuna/issues" class="black_button">Issues</a></li>
        <li><a href="/license.html" class="black_button">License</a></li>
      </ol>
      <div id='footer'>
        &copy; 2010 by <a href="/about.html">Michal Bugno and Antek Piechnik</a>
      </div>
    </div>
  </body>
</html>
